[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
autopep8 = "*"
tsfresh = "*"
sklearn = "*"
pyts = "*"
pyjwt = "*"
motor = "*"
configspace = "*"
uvicorn = "*"
dacite = "*"
pandas = "*"
pymongo = "*"
starlette = "*"

[dev-packages]
mongomock = "*"
pytest = "*"

[requires]
python_version = "3.8"
