[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.63.0"
autopep8 = "*"
tsfresh = "*"
sklearn = "*"
pyts = "*"
pyjwt = "*"
motor = "*"
configspace = "*"
uvicorn = "*"
dacite = "*"
pandas = "*"
setuptools = "*"
pymongo = "==3.11.3"
starlette = "==0.13.6"

[dev-packages]
mongomock = "*"
pytest = "*"

[requires]
python_version = "3.8"
